<div class='flex align-items-center justify-content-between bg-white px-2'>
    <div class='flex align-items-center pl-2 gap-3' routerLink="home">
        <p-image src="assets/findatime-logo.svg" alt="FindATime Logo" width="50" class='p-2'>
        </p-image>
        <p class='text-2xl'>FindATime</p>
    </div>
    <div class='pr-4'>

        <p-button styleClass='p-button-outlined p-button-sm' class='p-2' routerLink='sign-up' label="Sign Up">
        </p-button>
        <p-button styleClass='p-button-sm' class='p-2' [style]="{color: 'white'}" routerLink='sign-in' label="Sign In">
        </p-button>
    </div>
</div>
