<div>
    <div class='flex flex-row align-items-center justify-content-evenly pt-4'>
        <div class='flex flex-column align-items-start gap-5'>
            <div>
                <h1>Start planning a meeting together!</h1>

            </div>
            <div class='flex flex-row gap-8'>
                <div class='flex flex-column justify-content-evenly w-16rem shadow-2 h-20rem text-2xl text-center bg-white border-round-md'
                    (click)='navigateToCreateRoom()'>
                    <p-image src='assets/create_room.svg' width='168'></p-image>

                    <p>Create a Room</p>
                </div>
                <div
                    class='flex flex-column justify-content-evenly w-16rem shadow-2 h-20rem text-2xl text-center bg-white border-round-sm'>
                    <p-image src='assets/login_black.svg' width='120'></p-image>
                    <p>Join a Room</p>
                </div>
            </div>
        </div>

        <p-image src='assets/home_vector_graphic.svg' width='576' class='pt-8'></p-image>
    </div>
</div>
