<div>
    <div class='flex flex-row align-items-center justify-content-evenly'>
        <div class='flex flex-column gap-2'>
            <div>
                <h1>Plan a meeting or Join one!</h1>
            </div>
            <div class='flex flex-row justify-content-center gap-8'>
                <div
                    class='flex flex-column justify-content-evenly px-4 shadow-2 h-16rem text-2xl text-center bg-white border-round-md'>
                    <p-image src='assets/create_room.svg' width='168'></p-image>

                    <p>Create a Room</p>
                </div>
                <div
                    class='flex flex-column justify-content-evenly px-5 shadow-2 h-16rem text-2xl text-center bg-white border-round-sm'>
                    <p-image src='assets/login_black.svg' width='120'></p-image>
                    <p>Join a Room</p>
                </div>
            </div>
        </div>

        <p-image src='assets/home_vector_graphic.svg' width='576' class='pt-6'></p-image>
    </div>
</div>
