@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* You can add global styles to this file, and also import other style files */

* {
    font-family: Poppins, Helvetica;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #eef3fb;
  }

.content-container {
    height: 90vh
}

.navbar-container {
    height: 10vh
}
